.about__title {
  animation: about_title 1s both;
  opacity: 0;
  transform: scale(0);
  line-height: 140%;
}

.about__link {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  max-width: max-content;
}
.about__link:hover,
.about__link:focus {
  padding-left: 15px;
  color: var(--text-accent-color);
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  animation: about_opas 2s both;
}
.about__text {
  padding-left: 10px;
}
