body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
.main {
  margin-top: 20vh;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.content {
  width: 75vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.contact__content {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  opacity: 0;
  animation: opas 1s ease-in-out forwards 0.5s;
}
.contact__title {
  line-height: 140%;
  font-size: var(--fs-xl);
  color: var(--text-color);
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

.contact__link {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.contact__link a {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.contact__link a:hover,
.contact__link a:focus {
  padding-left: 25px;
  color: var(--text-accent-color);
  transform: scale(1.1);
}

.home__link {
  position: fixed;
  top: 10vh;
  right: 5vw;
}

.link__btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
}

.link__btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.link__btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.link__btn:hover,
.link__btn:focus {
  background: black;
}

.link__btn:hover span,
.link__btn:focus span {
  color: var(--hover-btn-color);
}

.link__btn:hover span::before,
.link__btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

